*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.product {
    width: 1200px;
    min-height:601px ;
    display: flex;
    margin: 30px  auto;
    border: 1px solid rgb(226, 223, 223);
    border-radius: 10px;   
    padding-right: 1px;
    padding-bottom: 0px;
    

}
#left-box {
    width: 50%;
    height:100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
}
#left-box img {
    width: 599px;
    height: 599px;
    border-top-left-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#right-box {
    background-color: rgb(245, 245, 245);
    width: 50%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
li {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(71, 70, 70);
}

.description{
    width: 90%;
    border-top: 1px solid rgb(226, 223, 223);
    margin: 20px auto;
    padding-top: 20px;
}
#left-box a {
    text-decoration: none;
    color: rgb(122, 121, 121);
    margin-left: 6%;
    font-size: 14px;
    padding: 20px;
}
.align{
    width: 40%;
    margin-top: 10px;
    margin-left: 5%;
}
#right-box h1 {
    font-size: 17px;
}
#brand {
    margin-bottom: 8px;
}
#brand a {
    text-decoration: none;
    color: #537ecf;
    font-size: 16px;
}
#campaign {
    margin-bottom: 8px;
}
#campaign a {
    color: #090;
    font-size: 14px; 
    text-decoration: none;
}
.discount {
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgb(182, 182, 182);
}
.red-box {
    width: 100%;
    height: 55px;
    display: flex;
    margin-bottom: 2px;
    
}
.indirim{
    width: 70px;
    height: 55px;
    background-color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#sayi{
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
#indirim{
    color: white;
}
.price{
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    margin-left: 10px;
}
#price {
    text-decoration: line-through;
    color: rgb(158, 158, 158);
}
.green-box {
    width: 100%;
    height: 60px;
    display: flex;
}
.basket{
    width: 70px;
    height: 60px;
    background-color: rgb(51, 153, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.basket span {
    color: white;
    font-size: 14px;
    text-align: center;
}
.real-price {
    margin-left: 10px;
    line-height: 60px;
}
.real-price span {
    font-size: 30px;
    color: rgb(75, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}
#tl {
    font-size: 20px;
}
.list {
    width: 100%;
    height: 35px;
    margin-left: 3%;
    margin-top: 10px;
}
.list ul{
    list-style-type: initial;
}
.list a {
    text-decoration: none;
    color: rgb(68, 67, 67);
}
.list a:hover{
    opacity: 0.8;
}
#taksit:hover{
    color: rgba(247, 69, 4 );
}
.bilgi {
    width: 75%;
    height: 30px;
    background-color: white;
    border: 1px solid rgb(172, 161, 161);
    border-radius: 3px;
    line-height: 25px;
    margin-bottom: 20px;
}
#b{
    color: rgb(126, 124, 124);
    padding-left: 10px;
}
#i a {
    text-decoration: none;
    padding-right: 10px;
    color:#537ecf;
}
#l {
    color:rgb(145, 145, 145) ;
    padding-left: 5px;
    border-left: 1px solid rgb(145, 145, 145);
    padding-right: 10px;
    padding-left: 10px;
}
#g a {
    text-decoration:none ;
    padding-left: 10px;
    border-left: 1px solid rgb(145, 145, 145);
    color: rgb(72, 72, 72);
    font-size: 14px;
}
#rakam {
    background-color: green;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    font-size: 13px;
}
#container {
    width: 100%;
    height: 240px;
    margin-top: 20px;
    border-bottom: 1px solid rgb(179, 177, 177);
    

}
.btn {
    width: 100px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(179, 177, 177);
    border-radius: 5px;
}
#btn- button {
    width: 27px;
    height: 48px;
    font-size: 25px;
    background-color: rgb(179, 177, 177);
}
#many {
    width: 39px;
    height: 48px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-bottom: 2px solid rgb(179, 177, 177);
    border-top: 2px solid rgb(179, 177, 177);
}
#btnn button {
    background-color: rgb(179, 177, 177);
    width: 27px;
    height: 48px;
    font-size: 25px;
}
#container button{
    
    border: 0px;
    outline: 0px;
    cursor: pointer;
}
.add button {
    width: 150px;
    height: 50px;
    background-color: orangered;
    border-radius: 5px;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}
.btn-add {
    display: flex;
}
.time {
    margin-left: 3%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.time ul {
    list-style-type: initial;
}
.time ul li{
    color: black;
}
.like {
    margin-top: 20px;
}
.like a {
    text-decoration: none;
    color:rgb(105, 105, 105) ;
    font-size: 18px;
}
.like a + a {
    margin-left: 30px;
}
.other {
    display: flex;
    margin-top: 20px;
}
.other a {
    color: orangered;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
}
.other h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(63, 62, 62);
    font-size: 16px;
}